## Verilerin istattistiksel olarak incelenmesi ve aykırı değerlerin ayıklanması

### Gerekli Paket ve modüllerin yüklenmesi

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Verilerin yüklenmesi

In [2]:
df= pd.read_csv("data.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          239 non-null    object
 1   district      239 non-null    object
 2   neighborhood  239 non-null    object
 3   room          239 non-null    int64
 4   living_room   239 non-null    int64
 5   area          239 non-null    int64
 6   age           239 non-null    int64
 7   floor         239 non-null    int64
 8   price         239 non-null    int64
dtypes: int64(6), object(3)
memory usage: 16.9+ KB
None

In [3]:
df["city"]= df["city"].astype("category")
df["district"]= df["district"].astype("category")
df["neighborhood"]= df["neighborhood"].astype("category")
df["room"]= df["room"].astype("int64")
df["living_room"]= df["living_room"].astype("int64")
df["area"]= df["area"].astype("int64")
df["age"]= df["age"].astype("int64")
df["floor"]= df["floor"].astype("int64")
df["price"]= df["price"].astype("int64")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          239 non-null    category
 1   district      239 non-null    category
 2   neighborhood  239 non-null    category
 3   room          239 non-null    int64
 4   living_room   239 non-null    int64
 5   area          239 non-null    int64
 6   age           239 non-null    int64
 7   floor         239 non-null    int64
 8   price         239 non-null    int64
dtypes: category(3), int64(6)
memory usage: 17.8 KB
None

### Nümerik değişkenlerin minimum, maximum ve çeyrekliik değerlerin bulunması

In [4]:
columns= df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3-Q1
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"column: {column}, min: {min_value},max {max_value}")

column: room, min: -0.5,max 3.5
column: living_room, min: 1.0,max 1.0
column: area, min: -27.0,max 205.0
column: age, min: -15.0,max 25.0
column: floor, min: -2.0,max 6.0
column: price, min: 3000.0,max 27000.0

### Aykırı Değerlerin temizlenmesi

In [5]:
for i, column in enumerate(columns):
    df = df[(df[column]>= min_values[i])& (df[column]<= max_values[i])]

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 211 entries, 1 to 238
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          211 non-null    category
 1   district      211 non-null    category
 2   neighborhood  211 non-null    category
 3   room          211 non-null    int64
 4   living_room   211 non-null    int64
 5   area          211 non-null    int64
 6   age           211 non-null    int64
 7   floor         211 non-null    int64
 8   price         211 non-null    int64
dtypes: category(3), int64(6)
memory usage: 17.9 KB
None

In [7]:
print(df.describe())

             room  living_room        area         age       floor  \
count  211.000000        211.0  211.000000  211.000000  211.000000
mean     1.819905          1.0   90.630332    5.928910    2.241706
std      0.694044          0.0   33.835116    5.525669    1.506609
min      1.000000          1.0   31.000000    0.000000   -1.000000
25%      1.000000          1.0   60.000000    0.000000    1.000000
50%      2.000000          1.0   85.000000    5.000000    2.000000
75%      2.000000          1.0  110.000000   10.000000    3.000000
max      3.000000          1.0  190.000000   15.000000    6.000000

              price
count    211.000000
mean   15127.962085
std     4180.194245
min     5000.000000
25%    12000.000000
50%    15000.000000
75%    18000.000000
max    25000.000000

In [9]:
df.to_csv("data_cleaned.csv", index=False)